{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["import"],
  "rules": {
    "linebreak-style": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0]
  },
  "env": {
    "browser": true
  }
}
